.dashboard-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem;
    column-gap: 3rem;
    row-gap: 3rem;
    /* border: 1px solid white; */
    
}

.dashboard-items .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 17%;
    height: 10rem;
    padding: 1.5rem;
    column-gap: 1rem;
    row-gap: 1rem;
    font-size: 1.5rem;
    background-color: rgb(19, 21, 36);
    border-radius: 1rem;
    /* border: 1px solid orange; */
}

.item-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.item img{
    width: 2rem;
}

.item:hover{
    color: rgb(254,119,82);
    cursor: pointer;
    width: 19%;
    transition: 0.4s;
}
