<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author", content="Chaupi Ghambi">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="icon" href="../res//icons/soccer.png">
    <title>Document</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-side-bar">
            <ul>
                <li>Tournaments</li>                
                <li>Teams</li>                
                <li>Players</li>                
                <li>Trends</li>                
            </ul>
        </div>

        <div class="grid-main-content">
            <header>
                <nav>
                    <h1>NAV</h1>
                </nav>
            </header>
    
            <main>
                <div class="content">
                    <h2>
                        <code>Body</code>
                    </h2>
                </div>
            </main>

            <footer>
                <div>
                    <h2><code>FOOTER</code></h2>
                </div>
            </footer>

        </div>
    </div>    
</body>

<script defer src="../js/main.js"></script>

</html>