<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author", content="Chaupi Ghambi">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="icon" href="../res//icons/soccer.png">
    <title>Document</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <nav>
                <h1>NAV</h1>
            </nav>
        </header>

        <main>
            <h1>BODY</h1>
        </main>

        <footer>
            <h1>FOOTER</h1>
        </footer>
    </div>    
</body>

<script defer src="../js/main.js"></script>

</html>