<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author", content="Chaupi Ghambi">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"
    integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/players.css">
    <link rel="icon" href="/res/icons/soccer-pitch.png">
    <title>FootballLab-Players</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-side-bar">
            <ul class="side-bar-header">
                <li class="side-bar-brand" onclick="location.assign('/i/')"><img src="/res/icons/soccer-pitch.png"></img>FootballLab</li>
            </ul>
            <ul class="side-bar-list">
                <li class="side-bar-option"><img src="/res/icons/tournament-blue.png"></img>Tournaments</li>
                <li class="side-bar-option" onclick="location.assign('/i/teams')"><img src="/res/icons/team-yellow.png"></img>Teams</li>
                <li class="side-bar-option" onclick="location.assign('/i/players')"><img src="/res/icons/soccer-player-purple.png"></img>Players</li>
                <li class="side-bar-option"><img src="/res/icons/trend-red.png"></img>Trends</li>
            </ul>
        </div>

        <div class="grid-main-content">
            <header>
                <nav>
                    <h1></h1>
                </nav>
            </header>
    
            <main>
                <div class="search-box">
                    <div class="search-bar">
                        <input type="search" placeholder="Search..." id="search">
                    </div>

                    <div class="player-list">
                        <!-- Stuff will dynamically appear here -->
                    </div>
                </div>
                <div class="dashboard-items">
                    <h2>Top Picks</h2>
                    <div class="item">
                        <h2>Player 1</h2>
                    </div>
                    <div class="item">
                        <h2>Player 2</h2>
                    </div>
                    <div class="item">
                        <h2>Player 3</h2>
                    </div>
                </div>
            </main>

            <footer>
                <div class="footer-header">
                    <ul class="footer-header-items">
                        <li class="footer-brand"><img src="/res/icons/soccer-pitch.png"></img>FootballLab </li>
                        <li>Copyright<sup>&copy;</sup></li>
                        <li>2024 - ?</li>
                    </ul>
                </div>
            </footer>

        </div>
    </div>    
</body>

<script defer src="/js/playersScript.js"></script>

</html>